* {
	text-align: center;
}
.manager-portal {
	background-color: #f9f9f9;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.manager-portal p {
	font-size: 18px;
	margin-bottom: 20px;
}

.manager-list {
	display: block;
	margin: 40px auto;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #e0e0e0;
	width: 50%;
	overflow: hidden;
}
.manager-links {
	list-style-type: none;
	padding: 0;
	color: #333;
}

.manager-links li {
	margin-bottom: 10px;
}
.manager-links a {
	text-decoration: underline;
	color: #670a0a;
}

details {
	position: relative;
}
details summary {
	cursor: pointer;
	list-style: none;
}
details ul {
	display: none;
	position: absolute;
	list-style: none;
}
details[open] ul {
	display: block;
}

.manager-portal::after {
	content: "";
	display: table;
	clear: both;
}

.jobs-list {
	float: left;
	width: 48%;
	margin-bottom: 20px;
	text-align: left;
}

.applications-list {
	float: right;
	width: 48%;
	text-align: left;
}
.subtitle {
	font-size: 20px;
	font-weight: bold;
	color: #670a0a;
	margin-bottom: 10px;
}

.applications-container {
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
}

.application-card {
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 15px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	flex: 0 1 30%;
	min-width: 200px;
	text-align: left;
}
